<footer class="section footer-corporate context-dark">
    <div class="footer-corporate-inset">
        <div class="container">
            <div class="row row-40 justify-content-lg-between">
                <!-- Contact Information -->
                <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
                    <div class="oh-desktop">
                        <h6 class="text-spacing-100 text-uppercase">Contact us</h6>
                        <ul class="footer-contacts d-inline-block d-sm-block">
                            <li>
                                <div class="unit">
                                    <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                    <div class="unit-body"><a class="link-phone" href="tel:#">+1 416-415-2000</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="unit">
                                    <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                                    <div class="unit-body"><a class="link-aemail" href="mailto:#">travel90.agency@domain.org</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="unit">
                                    <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                                    <div class="unit-body"><a class="link-location" href="https://maps.app.goo.gl/e1LzPqZu5MPHHSpb7">160 Kendal Ave, Toronto, ON M5R 1M3</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Student Information -->
                <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4">
                    <div class="oh-desktop">
                        <h6 class="text-spacing-100 text-uppercase">Team Members:</h6>
                        <!-- Post Minimal 2-->
                        <article class="post post-minimal-2">
                            <p class="post-minimal-2-title">Nhu Ly - 101429112</p>
                        </article>
                        <!-- Post Minimal 2-->
                        <article class="post post-minimal-2">
                            <p class="post-minimal-2-title">Trang Nguyen - 100749684</p>
                        </article>
                        <!-- Post Minimal 3 -->
                        <article class="post post-minimal-2">
                            <p class="post-minimal-2-title">Nhan Tran - 100898539</p>
                        </article>
                    </div>
                </div>
                <!-- Quick Links -->
                <div class="col-sm-11 col-md-7 col-lg-5 col-xl-4">
                    <div class="oh-desktop">
                        <h6 class="text-spacing-100 text-uppercase">Quick links</h6>
                        <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
                            <li><a href="about.html">About us</a></li>
                            <li><a href="#">Our Tours</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                        <div class="group-md group-middle justify-content-sm-start"><a class="button button-lg button-primary button-ujarak" href="#">Get in touch</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rights/Private Policy -->
    <div class="footer-corporate-bottom-panel">
        <div class="container">
            <div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">

                <div class="col-sm-6 col-md-6 order-sm-first">
                    <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Travel90 Agency</span>. All Rights Reserved.</p>
                </div>
                <div class="col-sm-6 col-md-6 text-md-right">
                    <p class="rights"><a href="#">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>