<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GBC_Travel_Group_90</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GBC_Travel_Group_90.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
    <header>
        <!-- Top Nav Bar -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light main_nav border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex flex-column align-items-start">                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between w-100">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/banh_bao.png" /> Travel90 Agency</a>
                        </li>                                           
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="#">Login/Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @{
            var hideNavBar = false;
            var currentPage = ViewContext.RouteData.Values["controller"].ToString() + "/" + ViewContext.RouteData.Values["action"].ToString();

            if (currentPage.Equals("Home/Index", StringComparison.OrdinalIgnoreCase))
            {
                hideNavBar = true;
                <style>
                    body {
                        background-image: url('pexels-quang-nguyen-vinh-14023032.jpg');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                    }
                </style>
            }
        }

        @if (!hideNavBar)
        {
            <!-- Center Nav Bar -->
            <div class="d-flex justify-content-center navbar-space">
                <nav class="navbar navbar-expand-lg white-opaque">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link animated-underline" asp-area="" asp-controller="Flight" asp-action="Index">Flights</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link animated-underline" asp-area="" asp-controller="CarRental" asp-action="Index">Cars</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link animated-underline" href="#">Hotels</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        }

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GBC_Travel_Group_90 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
