<style>
    #loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
</style>


<div id="loader"">
    <img src="/images/loading.gif" alt="Loading..." />
</div>