@model GBC_Travel_Group_90.Models.HotelBooking

@{
    ViewData["Title"] = "Create Booking";
    var userId = ViewBag.UserId;

}

<hr />
<div class="white-opaque">
    <h1>Book a Hotel</h1>
<div class="row">
    <div class="col-md-4">
        

        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NumOfRoomsToBook" class="control-label"></label>
                <input asp-for="NumOfRoomsToBook" type="number" class="form-control" />
                <span asp-validation-for="NumOfRoomsToBook" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="CheckInDate" class="control-label"></label>
                <input asp-for="CheckInDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutDate" class="control-label"></label>
                <input asp-for="CheckOutDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="CheckOutDate" class="text-danger"></span>
            </div>
            
            @Html.HiddenFor(model => model.HotelId)
            @Html.HiddenFor(model => model.UserId, new { value = userId })

            <div class="form-group">
            <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

<div>
    <a asp-controller="Hotel" asp-action="Index" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
