<div class="text-center">
    <h4 class="mb-3">You have already booked this flight.</h4>
    <a asp-controller="CarRental" asp-action="Index" class="btn btn-warning">Back to Car Rental Menu</a>
</div>
