
@{
    ViewData["Tilte"] = "404 Error";
}

<div class=" alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error</h4>
    <hr />
    <h5>
        Car with Id = @ViewBag.CarId cannot be found
    </h5>

</div>
<a asp-action="Index" asp-controller="CarRental" class="btn btn-secondary">Back To Car Menu</a>