@model GBC_Travel_Group_90.Areas.TravelManagement.Models.Booking

<div class="booking-summary">
	<p><b>Flight Summary</b></p>
	<p><b>@Model.Flight.FlightNumber</b></p>
	<p><b>@Model.Flight.Airline</b></p>
	<p><b>@Model.Flight.DepartureTime</b></p>
	<p><b>@Model.Flight.ArrivalTime</b></p>
</div>