@model GBC_Travel_Group_90.Models.Flight

@{
    ViewData["Title"] = "Create";
}

<div class="white-opaque">
    <h1>Create Flight</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FlightNumber" class="control-label"></label>
                    <input asp-for="FlightNumber" class="form-control" />
                    <span asp-validation-for="FlightNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Airline" class="control-label"></label>
                    <input asp-for="Airline" class="form-control" />
                    <span asp-validation-for="Airline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Origin" class="control-label"></label>
                    <input asp-for="Origin" class="form-control" />
                    <span asp-validation-for="Origin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Destination" class="control-label"></label>
                    <input asp-for="Destination" class="form-control" />
                    <span asp-validation-for="Destination" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartureTime" class="control-label"></label>
                    <input asp-for="DepartureTime" type="datetime-local" class="form-control" />
                    <span asp-validation-for="DepartureTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArrivalTime" class="control-label"></label>
                    <input asp-for="ArrivalTime" type="datetime-local" class="form-control" />
                    <span asp-validation-for="ArrivalTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxPassengers" class="control-label"></label>
                    <input asp-for="MaxPassengers" class="form-control" />
                    <span asp-validation-for="MaxPassengers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Back to Flights</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
