@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<div class="white-opaque">
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to Group90 Travel Agency, your gateway to unforgettable adventures!</p>

    <p>Group90 Travel Agency is a premier travel and booking agency dedicated to offering exceptional travel experiences to our clients. 
        Our team of passionate travel enthusiasts is committed to crafting travel plans that reflect the unique desires and needs of each client.
        </p>

    <h2>Our Mission</h2>
    <p>We believe in the transformative power of travel – it’s not just about going places, but also about experiencing new cultures, meeting new people, and creating memories that last a lifetime.
    </p>

    <h2>What We Do</h2>
    <p>At Group90 Travel Agency, we offer a comprehensive range of services, including:</p>

    <ul>
        <li>Flight Bookings: We work with a wide range of airlines to provide you with the best possible options.</li>
        <li>Hotel Reservations: From luxury resorts to budget-friendly hotels, we’ve got you covered.</li>
        <li>Car Rentals: We offer a variety of car rental options to ensure you have the freedom to explore at your own pace.</li>
        <li>Custom Itineraries: Our travel experts can create a personalized itinerary that caters to your interests and preferences.</li>
    </ul>
</div>