<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            text-align: center;
            font-weight: bold;
        }

        h2 {
            margin-top: 50px;
        }

        .container {
            padding: 0;
            margin: 0;
            max-width: 100%;
            display: flex;
            align-items: stretch;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="quote-container">
                    <div class="front_quote">
                        <h1>“Travel is about</h1>
                        <h1>the gorgeous feeling</h1>
                        <h1>of teetering in the</h1>
                        <h1>unknown.”</h1>
                        <h1>- Anthony Bourdain</h1>
                    </div>
                </div>
            </div>           
        </div>
    </div>
    <div class="about_us_container">
        <div class="about_us col-md-6">
            <h1 class="title">About Us</h1>
            <p>Welcome to Group90 Travel Agency, your gateway to unforgettable adventures!</p>

            <p>
                Group90 Travel Agency is a premier travel and booking agency dedicated to offering exceptional travel experiences to our clients.
                Our team of passionate travel enthusiasts is committed to crafting travel plans that reflect the unique desires and needs of each client.
            </p>

            <h2 class="title">Our Mission</h2>
            <p>
                We believe in the transformative power of travel – it’s not just about going places, but also about experiencing new cultures, meeting new people, and creating memories that last a lifetime.
            </p>

            <h2 class="title">What We Do</h2>
            <p>At Group90 Travel Agency, we offer a comprehensive range of services, including:</p>
            <ul>
                <li>Flight Bookings: We work with a wide range of airlines to provide you with the best possible options.</li>
                <li>Car Rentals: We offer a variety of car rental options to ensure you have the freedom to explore at your own pace.</li>
                <li>Hotel Reservations: From luxury resorts to budget-friendly hotels, we’ve got you covered.</li>
            </ul>
        </div>
    </div>
    <div class="contact_container">
        <div class="contact col-md-6 offset-md-6">
            <h1 class="title pastel_blue">Contact Us</h1>

            <h2 class="title">Phone</h2>
            <p>+1 416 415 2000</p>
            <h2 class="title">Email</h2>
            <p>info@Travel90Agency.com</p>
            <h2 class="title">Address</h2>
            <p>160 Kendal Ave</p>
            <p>Toronto, ON</p>
            <p>M5R 1M3</p>
        </div>
    </div>
</body>
</html>

