@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center white-opaque">
    <h1 class="display-4">Welcome</h1>
    <button class="btn btn-info"><a asp-controller="Users" asp-action="Create">Enter Your Information To Book A Hotel></a></button>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae augue in lorem tempus accumsan. Aliquam lorem augue, faucibus quis turpis nec, laoreet dignissim orci. Cras aliquet vel mi et efficitur. Nullam vitae sodales felis, id elementum turpis. Maecenas pretium ex et laoreet sodales. In in viverra elit. Mauris at scelerisque felis, in scelerisque ipsum. Aliquam in iaculis sem.</p>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae augue in lorem tempus accumsan. Aliquam lorem augue, faucibus quis turpis nec, laoreet dignissim orci. Cras aliquet vel mi et efficitur. Nullam vitae sodales felis, id elementum turpis. Maecenas pretium ex et laoreet sodales. In in viverra elit. Mauris at scelerisque felis, in scelerisque ipsum. Aliquam in iaculis sem.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae augue in lorem tempus accumsan. Aliquam lorem augue, faucibus quis turpis nec, laoreet dignissim orci. Cras aliquet vel mi et efficitur. Nullam vitae sodales felis, id elementum turpis. Maecenas pretium ex et laoreet sodales. In in viverra elit. Mauris at scelerisque felis, in scelerisque ipsum. Aliquam in iaculis sem.</p>
</div>