@model Flight

@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <div class="card-header">
        <h1>Edit Flight</h1>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="FlightId" />
                    <div class="form-group">
                        <label asp-for="FlightNumber" class="control-label"></label>
                        <input asp-for="FlightNumber" class="form-control" />
                        <span asp-validation-for="FlightNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Airline" class="control-label"></label>
                        <input asp-for="Airline" class="form-control" />
                        <span asp-validation-for="Airline" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Origin" class="control-label"></label>
                        <input asp-for="Origin" class="form-control" />
                        <span asp-validation-for="Origin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Destination" class="control-label"></label>
                        <input asp-for="Destination" class="form-control" />
                        <span asp-validation-for="Destination" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DepartureTime" class="control-label"></label>
                        <input asp-for="DepartureTime" type="datetime-local" class="form-control" />
                        <span asp-validation-for="DepartureTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArrivalTime" class="control-label"></label>
                        <input asp-for="ArrivalTime" type="datetime-local" class="form-control" />
                        <span asp-validation-for="ArrivalTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxPassengers" class="control-label"></label>
                        <input asp-for="MaxPassengers" class="form-control" />
                        <span asp-validation-for="MaxPassengers" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-secondary" />
                        <a asp-action="Index" class="btn btn-warning">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
