
@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger">
    <h2>An Error Has Occured While Proccessing Your Request.</h2>
    <h4>Please Contact Us for more information.</h4>
    <br />
    <hr />
    <br />
    <h2 class="mb-10">Exeption Details</h2>
</div>
<div class="alert alert-danger">
    <h4>Exeption occurred while calling: </h4>
    <p>@ViewBag.ExceptionPath</p>
</div>

