
@{
    ViewData["Title"] = "Not Found";
}


<h2>@ViewBag.ErrorMessage</h2>

<h2>Exception Details</h2>

<div class="alert alert-danger">
    <h4>Exeption occurred while calling: </h4>
    <h1>404</h1>
</div>
