<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="mb-3">"You have already booked this flight."</h4>
        </div>
    </div>
    <a asp-controller="Flight" asp-action="Index" class="btn btn-warning">Back to Flight Menu</a>
</div>
