html {
    font-size: 14px;
    overflow-y: scroll; /*scroll bar*/
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/pexels-dominika-roseclay-1252500.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.main_nav {
    background-color: midnightblue;
}

.white-opaque {
    background-color: rgba(255, 255, 255, 0.5);
}

.animated-underline {
    position: relative;
    text-decoration: none;
    color: #000;
}

    .animated-underline::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0;
        transition: opacity .5s;
    }

    .animated-underline:hover::after {
        opacity: 1;
    }



