html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background-image: url('/pexels-dominika-roseclay-1252500.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main_nav {
    background-color: #fce1e4;    
}

.navbar-space {
    margin-bottom: 40px;
}

.search-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

    .search-row div {
        flex: 1;
        margin-right: 10px;
    }

        .search-row div:last-child {
            margin-right: 0;
        }

.input-icon {
    position: relative;
}

    .input-icon > i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .input-icon > .form-control {
        padding-left: 40px;
    }

/*BootStrap Button Replacement Colours*/
.btn-primary {
    color: #475F77 !important;
    background-color: #daeaf6 !important;
    border-color: #475F77 !important;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        color: #475F77 !important;
        background-color: #C9DCE5 !important;
        border-color: #475F77 !important;
    }

.btn-secondary {
    color: #9FA9A3 !important;
    background-color: #ddedea !important;
    border-color: #9FA9A3 !important;
}

    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active {
        color: #9FA9A3 !important;
        background-color: #BDCBC8 !important;
        border-color: #9FA9A3 !important;
    }

.btn-info {
    color: #B1A0B6 !important;
    background-color: #e8dff5 !important;
    border-color: #B1A0B6 !important;
}

    .btn-info:hover,
    .btn-info:focus,
    .btn-info:active {
        color: #B1A0B6 !important;
        background-color: #CDBED2 !important;
        border-color: #B1A0B6 !important;
    }

.btn-danger {
    color: #FF7F7F !important;
    background-color: #fce1e4 !important;
    border-color: #FF7F7F !important;
}

    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active {
        color: #FF7F7F !important;
        background-color: #D9BFC2 !important;
        border-color: #FF7F7F !important;
    }

.btn-warning {
    color: #D9B300 !important;
    background-color: #fcf4dd !important;
    border-color: #D9B300 !important;
}

    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active {
        color: #D9B300 !important;
        background-color: #ebe2c9 !important;
        border-color: #D9B300 !important;
    }

/*Nav Menu for Identity/..._ManageNav*/
.btn-nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #475F77;
    background-color: #C9DCE5;
}

    .btn-nav-link:hover, .btn-nav-link:focus {
        text-decoration: none;
    }

    .btn-nav-link.disabled {
        color: #6c757d;
    }

.nav-pills .btn-nav-link {
    border-radius: 0.25rem;
}

    .nav-pills .btn-nav-link.active,
    .nav-pills .show > .btn-nav-link {
        color: #475F77;
        background-color: #d7edf7;
        border: 1px solid #475F77;
    }


/*Hotel and Car Review*/
.allReviews {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}